body 
{
background-color:#AAAAAA;
text-align:center;
width:device-width;
margin:1px;
}
header
{
background-color:Orange;
}

h1
{
color:#000000;
}
p 
{
color:#000000;
}

#patentImg1
{
margin:10px;
width:100px;
height:100px;
}
#patentImg2
{
margin:10px;
width:300px;
height:200px;
}
#navigationMenu
{
}

.navigate
{
position:absolute;
background:#f80;
}

#infoSpace
{
background:#f80;
border:5px black;
border-radius:10px;
}