h1
{
color:#000000;
}
p 
{
color:#000000;
}
body 
{
background-color:#00AAAA;
margin-left:20px;
}
#patentImg1
{
width:100px;
height:100px;
}
#patentImg2
{
margin-right:800px;
width:300px;
height:200px;
}